<%- include('partials/head')%>
    <%- include('partials/navbar') %>


        <div class="container text-center">
            <h2 class="lead text-black">Welcome to </h2>
            <h1 class=" display-3 text-light">
                <%= title %>
            </h1>

        </div>


        <%- include('partials/footer')%>